#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 1rem;

  .cell {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: $light;
    border: 1px solid $primary;
    color: white;
    font-size: 10rem;
    user-select: none;
    overflow: hidden;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 0.775;
      text-align: center;
    }

    &:nth-child(1) {
      border-radius: 1rem 0 0 0;
    }

    &:nth-child(3) {
      border-radius: 0 1rem 0 0;
    }

    &:nth-child(7) {
      border-radius: 0 0 0 1rem;
    }

    &:nth-child(9) {
      border-radius: 0 0 1rem 0;
    }
  }
}