.players {
  display: flex;
  font-size: 2rem;

  .player-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 1rem;
  
    label {
      position: absolute;
      left: 0;
      top: 0.25em;
      font-size: 0.75em;
      transition: transform 0.2s ease-in-out;
      user-select: none;
      cursor: text;
    }
    
    input {
      width: 100%;
      background: none;
      border: none;
      box-shadow: 0 1px 0 0 white;
      font-size: 1em;
      color: white;
      transition: all 0.2s ease-in-out;
  
      &:focus {
        outline: 0;
        box-shadow: 0 2px 0 0 white;

        ~ label {
          transform: scale(0.5) translate(-1.75em, -2.375em);
        }
      }

      &:not([value=""]) {
        ~ label {
          transform: scale(0.5) translate(-1.75em, -2.375em);
        }
      }
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
